/* Body */
body {
    margin: 0;
    background-color: var(--grey-background);
    color: var(--primary-color);
}

/* Header */
.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: var(--white);


    .header-title {
     margin: 0;
     font-size:var(--first-line) ;
    }
}
    

    .add-button {
     font-size: 2rem;
     padding: 0.7rem;
     border-radius: var(--border-radius-button);
     color: var(--primary-color);
     cursor: pointer;
     position: absolute;
     right: 1rem;
     outline-color: black;
     outline-style: dashed;
    
}


main {
    padding-bottom: 100px;

    @media (min-width: 700px) {
     padding-bottom: 150px;
     padding-inline: 5em;
    }
}

/* Group list */
.groups {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;

    @media (min-width: 700px) {
     padding: 2rem 5em;
     grid-template-columns: 1fr;
    }
}

.group {
    background-color: var(--white);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius-photo);
    display: flex;
    flex-direction: var(--border-radius-photo);
    display: flex-start;
    flex-direction: column;

     @media (min-width: 700px) {
      padding: 2rem;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
     }

        .group-name {
         font-size: var(--second-line);
         margin: 0;
        }

        .group-sub {
         font-size: var(--description);
         color: var(--secondary-text-color);
         margin: 0;
        }
   }

/* Nav-bar */
.nav-bar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);

    .nav-item{
     display: flex;
     justify-content: center;
     align-items: center;
     background: none;
     border: none;
     cursor: pointer;
     bottom: 0;
    }
}

