/* Body */
body {
    margin: 0;
    background-color: var(--grey-background);
    color: var(--primary-color);
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white);

    .header-title {
     margin: 0;
     font-size:var(--first-line) ;
    }

    .arrow {
     position: absolute;
     left: 1rem
    }
}


/* Nav-bar */
.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
   
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0;
      padding: 0;
    }

    .nav-item a {
     display: flex;
     padding: 0.5rem;
    }
}
